<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
         cacheResultFile="phpUnitTestRet"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="memory_limit" value="2048M" />
    </php>
    <!--开启代码覆盖率报告 需要开启xdebug扩展 xdebug.mode=coverage-->
<!--    <filter>-->
<!--        <whitelist processUncoveredFilesFromWhitelist="true">-->
<!--            <directory suffix=".php">src</directory>-->
<!--        </whitelist>-->
<!--    </filter>-->
<!--    <logging>-->
<!--        <log type="testdox-html" target="phpUnitTestRet/testdox-html-log.html"/>-->
<!--        <log type="coverage-html" target="phpUnitTestRet" lowUpperBound="35" highLowerBound="70"/>-->
<!--    </logging>-->
</phpunit>